<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>GoodsManagement</title>
</head>

<body>
	<h1 th:text="${title}"></h1>
	<p><a href="http://localhost:8080/index">商品管理ページへ</a></p>
	<h3>
		<form method="get" action="#" th:action="@{/edit/__*{id}__/exe}" th:object="${goods}">
			<table id="goods_form">
				<tr>
					<th>商品名</th>
					<td><input type="text" id="name" name="name" th:value="*{name}"></td>
				</tr>
				<tr>
					<th>在庫数</th>
					<td><input type="text" id="stock" name="stock" th:value="*{stock}"></td>
				</tr>
				<tr>
					<th>カテゴリー</th>
					<td><input type="text" id="category" name="category" th:value="*{category}"></td>
				</tr>
				<tr>
					<th>値段</th>
					<td><input type="text" id="price" name="price" th:value="*{price}"></td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="更新">
					</td>
				</tr>
			</table>
		</form>
	</h3>
	<!-- <div th:object="${goods}" id="edit_list">
		<form action="#" method="get" th:action="@{/edit/__*{id}__/exe}">
			<p>
				商品名: <input type="text" name="name" th:value="*{name}">
			</p>
			<p>
				在庫数: <input type="number" name="priority" th:value="*{stock}">
			</p>
			<p>
				カテゴリー: <input type="text" name="category" th:value="*{category}">
			</p>
			<p>
				値段: <input type="text" name="price" th:value="*{price}">
			</p>
			<input type="submit" value="更新">
		</form>
	</div> -->
</body>

</html>