<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>GoodsManagement</title>
	<!--select2用 css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css">
</head>

<body>
	<h1 th:text="${title}"></h1>

	<h2>入力</h2>
	<h3>
		<form method="get" action="#" th:action="@{/confirm}" th:object="${form}">
			<table id="goods_form">
				<tr>
					<th>商品名</th>
					<td><input type="text" id="name" name="name" th:value="*{name}"></td>
				</tr>
				<tr>
					<th>在庫数</th>
					<td><input type="number" id="stock" name="stock" th:value="*{stock}"></td>
				</tr>
				<tr>
					<th>カテゴリー</th>
					<td>
						<select class="select" style="width: 200px;" name="category" th:value="*{category}" required>
							<option value="">選択してください</option>
							<option th:each="category : ${categoryList}" th:value="${category.name}"
								th:text="${category.name}" th:selected="${category.name == selectedValue}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>値段</th>
					<td><input type="number" id="price" name="price" th:value="*{price}"></td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="登録">
						<input type="reset" value="リセッﾄ">
						<a href="/confirm/category" class="btn">カテゴリー登録ページへ</a>
					</td>
				</tr>
			</table>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>
			<div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">エラーメッセージ</div>
			<div th:if="${#fields.hasErrors('category')}" th:errors="*{category}">エラーメッセージ</div>
			<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">エラーメッセージ</div>
		</form>
	</h3>

	<h2>商品一覧</h2>
	<h2>
		<table id="goods_list">
			<tr>
				<th><a th:href="@{/sort/{name}(name=name)}"> 商品名</a></th>
				<th><a th:href="@{/sort/{name}(name=stock)}">在庫数</a></th>
				<th><a th:href="@{/sort/{name}(name=category)}">カテゴリー</a></th>
				<th><a th:href="@{/sort/{name}(name=price)}">値段</a></th>
				<th>編集</th>
				<th>削除</th>
			</tr>
			<tr th:each="res: ${dbList}">
				<td th:text="${res.name}"></td>
				<td th:text="${res.stock}"></td>
				<td th:text="${res.category}"></td>
				<td th:text="${res.price}"></td>
				<td>
					<form method="get" action="#" th:action="@{/edit/{id}(id=${res.id})}">
						<input type="submit" value="編集">
					</form>
				</td>
				<td>
					<button type="submit" onclick="confirmDelete(event)" th:ids="${res.id}">削除</button>
				</td>
			</tr>
		</table>
	</h2>
	<a th:if="${page != 'first'}" th:href="@{/page/{change}(change=-10)}">前</a>
	<a th:if="${page != 'end'}" th:href="@{/page/{change}(change=10)}">次</a>
	<script th:src="@{/style.js}"></script>
</body>
<!--select2用 jquery 3/3-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>!
<!--select2用 js-->
<script src="select2.js"></script>

</html>