<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>GoodsManagement</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1><span th:text="${title}"></span></h1>
		<p>入力内容ここから</p>
		<p>カテゴリー</p>
	 <form method="get" action="#" th:action="@{/complete/category}"th:object="${form}">

		<p>商品名</p>
		<p><input type="text" name="name" th:value="*{name}"></p>
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>
		<input type="submit" value="送信">
	</form>
	
	<div th:object="${form}">

		<p>入力内容ここまで</p>


		<!--		formにデータを送る処理（入力画面に戻る再記入用）-->
		<!--		hiddenなので見えないけどデータを送っている-->
		<form method="get" action="#" th:action="@{/index}">
			<input type="hidden" name="name" th:value="*{name}">
			<input type="hidden" name="stock" th:value="*{stock}">
			<input type="hidden" name="category" th:value="*{category}">
			<input type="hidden" name="price" th:value="*{price}">

			<input type="submit" value="入力画面へ">
			<input type="submit" value="一覧へ">
		</form>

		<!--		確認画面にデータを送る処理-->
		<!--<form method="get" action="#" th:action="@{/complete/category}">
			<input type="hidden" name="name" th:value="*{name}">
			<input type="submit" value="完了画面へ">
		</form>-->

	</div>

</body>

</html>